<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-126394770-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126394770-1');
	</script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="icon" href="favicon.png">
	<link rel="apple-touch-icon" href="favicon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:300|Roboto:100" rel="stylesheet">
</head>
<body>
	<div class="logobar">
		<h3 font-family="Roboto"> Bus Times </h3>
	</div>
	<div class="prd">
		<h4><b> 22 | Deming </b></h4>
		<b><div id="22dem" class="bxd"><div id="22dem2" class="bxd2">
			<script>
				$('#22dem').append(Math.round(<%=@ttdem%>))
				$('#22dem2').append(Math.round(<%=@ttdem2%>))

			</script>	
		</div></div></b>
		<h4><b> 36 | Deming </b></h4>
		<b><div id="36dem" class="bxd"><div id="36dem2" class="bxd2">
			<script>
				$('#36dem').append(Math.round(<%=@tsdem%>))
				$('#36dem2').append(Math.round(<%=@tsdem2%>))
			</script>	
		</div></div></b>
		<h4><b> 22 | Division </b></h4>
		<b><div id="22div" class="bxd"><div id="22div2" class="bxd2">
			<script>
				$('#22div').append(Math.round(<%=@ttdiv%>))
				$('#22div2').append(Math.round(<%=@ttdiv2%>))
			</script>	
		</div></div></b>
		<h4><b> 36 | Division </b></h4>
		<b><div id="36div" class="bxd"><div id="36div2" class="bxd2">
			<script>
				$('#36div').append(Math.round(<%=@tsdiv%>))
				$('#36div2').append(Math.round(<%=@tsdiv2%>))
			</script>	
		</div></div></b>




	</div>
</body>
</html>